<tr id="addRow" class="add-row">
    <td>

    </td>
    <!--ID-->
    <td id="addId" data-value="{{getNewId incomingData}}">
        {{#getNewId incomingData}}
        {{/getNewId}}
    </td>
    <!--Type Incoming-->
    <td data-filter="types">
        <div class="add-form select-container">
            <input type="text" class="select__input" id="addTypeId" data-value="0" placeholder="Выберите тип">
            <button class="select__dropdownButton">&#9662;</button>
            <ul class="select__dropdownList">
                <li
                        data-value="{{#getNewIdByName 'types'}}{{/getNewIdByName}}"
                        class="forAddMeta"
                        style="border-bottom: 1px solid #e0e6ed"
                >+ Добавить новый</li>
                {{#getMetaDataList metaData 'types'}}

                {{/getMetaDataList}}
            </ul>
        </div>
    </td>
    <!--Receipt-->
    <td>
        <div class="add-form">
            <input id="addRequisiteDate" type="date">
        </div>
    </td>
    <!--Senders-->
    <td>
        <div class="add-form select-container">
            <input type="text" class="select__input" id="addSenderId" data-value="0" placeholder="Отправитель">
            <button class="select__dropdownButton">&#9662;</button>
            <ul class="select__dropdownList">
                <li
                        data-value="{{#getNewIdByName 'senders'}}{{/getNewIdByName}}"
                        class="forAddMeta"
                        style="border-bottom: 1px solid #e0e6ed"
                >+ Добавить нового</li>
                {{#getMetaDataList metaData 'senders'}}

                {{/getMetaDataList}}
            </ul>
        </div>
    </td>
    <!-- Number of Incoming-->
    <td>
        <div class="add-form">
            <input id="addRequisiteNumber" type="text">
        </div>
    </td>
    <!--Desc-->
    <td>
        <div class="add-form">
            <input id="addDescription" type="text">
        </div>
    </td>
    <!--Director-->
    <td>
        <div class="add-form select-container">
            <input type="text" class="select__input"
                   id="addDirectorId" data-value="0" placeholder="Руководитель">
            <button class="select__dropdownButton">&#9662;</button>
            <ul class="select__dropdownList">
                <li
                        data-value="{{#getNewIdByName 'directors'}}{{/getNewIdByName}}"
                        class="forAddMeta"
                        style="border-bottom: 1px solid #e0e6ed"
                >+ Добавить нового</li>
                {{#getMetaDataList metaData 'directors'}}

                {{/getMetaDataList}}
            </ul>
        </div>
    </td>
    <!--Resolution-->
    <td>
        <div class="add-form">
            <input id="addResolutionDesc" type="text">
        </div>
    </td>
    <td>
        <div class="add-form">
            <input id="addResolutionDate" type="date">
        </div>
    </td>
    <!--Executor-->
    <td>
        <div class="add-form multiselect-container">
            <input type="text" class="select__input" data-value="0" placeholder="Исполнители">
            <button class="select__dropdownButton">&#9662;</button>
            <ul class="select__dropdownList" id="addExecutor">
                <li
                        data-value="{{#getNewIdByName 'executors'}}{{/getNewIdByName}}"
                        class="forAddMeta"
                        style="border-bottom: 1px solid #e0e6ed"
                >+ Добавить нового</li>
                {{#getMetaDataList metaData 'executors'}}

                {{/getMetaDataList}}
            </ul>
        </div>
    </td>
    <!--Date of executor-->
    <td>
        <div class="add-form">
            <input id="addExecutionDate" type="date">
        </div>
    </td>
    <!--Term Control-->
    <td>
        <div class="add-form">
            <input type="date" id="addTermControlDate">
        </div>
    </td>
    <!--Info-->
    <td>
        <div class="add-form">
            <input id="addInfo" type="text">
        </div>
    </td>
    <td>
        <div class="add-form">
            <select id="addStatusId">
                <option value="0" selected>Не выполнен</option>
                <option value="1">Выполнен</option>
                <option value="2">Во входящих</option>
                <option value="3">-</option>
            </select>
        </div>
    </td>
</tr>

{{!--> addRowInco --}}

{{#each incomingData}}
    <tr data-value="{{id}}">

        {{> editRow this}}

        <td data-filter="id" data-value="{{id}}">{{id}}</td>
        <td data-filter="types" data-value="{{typeId}}">
            {{typeName}}
        </td>
        <td data-filter="receipt" data-value="{{requisiteDate}}">{{requisiteDateValue}}</td>
        <td data-filter="senders" data-value="{{senderId}}">{{senderName}}</td>
        <td>
            <div class="td-container">
                {{requisiteNumber}}
            </div>
            <div class="hover-on">
                {{requisiteNumber}}
            </div>
        </td>
        <td>
            <div class="td-container">
                {{description}}
            </div>
            <div class="hover-on">
                {{description}}
            </div>
        </td>
        <td data-filter="directors" data-value="{{directorId}}">
            {{directorName}}
        </td>
        <td>
            <div class="td-container">
                {{resolutionDesc}}
            </div>
            <div class="hover-on">
                {{resolutionDesc}}
            </div>
        </td>
        <td data-value="{{resolutionDate}}">
            {{resolutionDateValue}}
        </td>
        <td data-filter="executors" data-value="{{executionId}}">
            <div>
                {{executorName}}
            </div>
            <div class="hover-on">
                {{executorName}}
            </div>
        </td>
        <td data-filter="executor-date" data-value="{{executionDate}}">{{executionDateValue}}</td>
        <td data-filter="term-control" data-value="{{termControlDate}}">
            {{termControlDateValue}}
        </td>
        <td>
            <div class="td-container">
                {{info}}
            </div>
            <div class="hover-on">
                {{info}}
            </div>
        </td>
        <td data-filter="status" data-value="{{statusId}}">{{statusName}}</td>
    </tr>
{{/each}}